<h1><%= @billboard.name %></h1>
<hr />
<p>What would you lke to do?</p>
<%= link_to 'View Billboards', billboards_path %>
<br />
<%= link_to 'Edit Billboard', edit_billboard_path(@billboard) %>
<br />
<%= button_to 'Delete Billboard', @billboard, method: :delete %>
<br />
<%= link_to 'Show Songs', billboard_songs_path(@billboard) %>
<br />
<%= link_to 'Show Artists', artists_path %>
<%# For whatever reason I can't get to songs from here, I'm not sure exactly why that is. %>
<%# I have been trying to look up this code and figure it out, but have been unsucessful at it. %>
<%# ActiveRecord::RecordNotFound in SongsController#index is the error I keep getting and I cant figure out why. %>
<%# I was also unable to get the songs showing up on the billboard unfortuantly. %>
<%# If you could possibly point me in the right direction of where to look so that I can get this figured out I would appriciate it. %>
